body{
    background-color: rgb(241, 241, 241);
}
h1{
    background-color: rgb(54, 37, 155);
    color:whitesmoke;
    padding: 10px;
    box-shadow: 3px 3px 3px grey;
}
h1:hover{
  
    box-shadow: 6px 6px 6px grey;
}
p{
    color: rgb(32, 32, 32)
}
.navebaar{
    display: block;
}
.sidebar{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 290px;
    width: 15%;
    position: fixed;
    background-color: #111;
    box-shadow: 3px 3px 3px grey;
    
}
.sidebar:hover{
    
    box-shadow: 5px 5px 5px grey;
    
}
ul.sidebar li a{
    display: block;
    padding: 16px 16px;
    font-family: sans-serif;
    text-align:center;
    text-decoration: none;
    font-weight: bold;
}

ul.sidebar li a:hover{
    background-color: lightgray;
    color: white;
}
.home{
    display: inline-block;
    margin-left: 20%;
    max-width: 600px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    box-shadow: 5px 5px 5px grey;
}
.home span{
    display: block;
    padding: 5px;
    color: #111;
    font-weight: bold;
}
.home form input{
    display: block;
    width: 500px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    
    
}
footer span{
    margin-top: 20px;
    padding: 10px;
    display: block;
    background-color: rgb(31, 31, 31);
    color: aliceblue;
    text-align:center;
}